$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

html {
	overflow-y: scroll;
}

body {
  /* background:$body-bg; */
  /* background: rgba(66, 188, 244,0.5); */
  background: #c1bdba;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaxKffVkHu7cLhRr7yyj_Px-R9zb_Fm-FPOE4yBD5GnaPdyijsPw);
  /* background-repeat: no-repeat; */
  font-family: 'Titillium Web', sans-serif;
	bacl: 50%;
}

.form {
  /* background:rgba(#13232f,.9); */
  background: #134156;
  padding: 40px;
  max-width:600px;
  margin:100px auto;
	margin-top: 10px;
  border-radius:50px;
	font-size: 15px;
	color: white;
  /* box-shadow:0 4px 10px 4px rgba(#13232f,.3); */
  box-shadow:0 4px 40px 4px blue;
}

.button-block {
  display:block;
  width:100%;
}

*, *:before, *:after {
  box-sizing: border-box;

}

a {
  text-decoration:none;
  color:$main;
  transition:.5s ease;
  &:hover {
    color:$main-dark;
  }
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.tab-content > div:last-child {
  display:none;
}

h1 {
  text-align:center;
  color:blue;
  font-weight:$thin;
   /* margin:0 0 20px ; */
	 /* margin-top: 40px; */
	/* text-decoration:underline; */
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	/* padding: 20px; */
}

label {
  position:absolute;
   transform:translateY(-45px);
  /* left:13px; */
  color:white;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:18px;
	font-family: 'Cairo', sans-serif;
	padding: 20px;
  .req {
  	margin:2px;
  	color:$main;
  }
}

label.active {
  transform:translateY(50px);
  left:2px;
  font-size:14px;
  .req {
    opacity:0;
  }
}

.hello{

	padding: 15px;
  padding-bottom: 45px;
  margin-bottom: 20px;
	padding-top: 25px;
	font-size: 20px;
	margin: auto;
	margin-top: 15px;

}

label.highlight {
	color:$white;
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
	margin-top: 40px;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid $gray-light;
  color:$white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  &:focus {
		outline:0;
		border-color:$main;
  }
}

textarea {
  border:2px solid $gray-light;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float:left;
    width:48%;
    margin-right:4%;
    &:last-child {
      margin:0;
    }
  }
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
