/* body {
  margin: 0;
  overflow: hidden;
  background: pink;
  color:red;
} */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: inherit;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

} */
/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #DC143C;
}

::-webkit-scrollbar-thumb:hover {
  background: #DC143C;
}
/* body {
  background: #DC143C	;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
} */


.load {
  width: 100px;
  height: 100px;
  /** height is required as absolute value **/
  background-color: #CD5C5C;
  border-radius: 100px;
  margin-left: auto;
     margin-right: auto ;
     margin-top: 100px;
  position:relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}

.load i{
  position:absolute;
  top:28px;
  left:24%;
  color:white;
  text-shadow:-1px -1px #333;
}

.load:after,
.load:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #CD5C5C;
}

.load:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.load:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */


@keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-moz-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse{
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}


@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(3.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}



###################################
###################################

@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans','Helvetica Neue',Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.45;
  color: #141414;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  background: #007ece;
  letter-spacing: .02em;
  border: none;
  border-radius: 5px;
  padding: .8rem 1rem .9rem;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 43.75em) {
  .btn {
    padding: .5rem .7rem .6rem;
    font-size: 1rem;
  }
}
.btn:hover {
  background: #008ee8;
  color: #fff;
}
.btn:focus, .btn:active, .btn:focus:active {
  background: #006eb5;
  border-color: #006eb5;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 900px;
}
.sg-error-message,
.sg-question-errorlist{
	background: #FFC199; /*Change background color*/
	border-left: 9px solid #FF6600; /*Change left border color*/
	color: white; /*Change text color*/
}
header {
  color: white;
  background: #007ece;
  padding: 10rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 43.75em) {
  header {
    padding: 2rem 0;
  }
}
header h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}
@media (max-width: 43.75em) {
  header h1 {
    font-size: 2rem;
  }
}
header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}
@media (max-width: 43.75em) {
  header h2 {
    font-size: 1.5rem;
  }
}

section {
  background: #fff;
  color: #1c262b;
  padding: 3.5rem 0;
}
@media (max-width: 43.75em) {
  section {
    padding: 2rem 0;
  }
}
section.section--primary {
  background: #007ece;
  color: #fff;
}
section.section--primary--alt {
  background: #27a4f4;
  color: #fff;
}
section.section--primary--light {
  background: rgba(0, 126, 206, 0.1);
}
section.section--grey {
  background: #1c262b;
  color: #fff;
}
section.section--grey--light {
  background: #29363e;
  color: #fff;
}
section h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem;
}
@media (max-width: 43.75em) {
  section h3 {
    font-size: 1.5rem;
  }
}
section li {
  font-size: 1.2rem;
  font-weight: 300;
}
section p {
  font-size: 1.2rem;
  font-weight: 300;
}

.col, .col-7, .col-3, .col-5 {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}

.col-7 {
  width: 64%;
}
@media (max-width: 43.75em) {
  .col-7 {
    width: 100%;
    margin: 0;
  }
}

.col-3 {
  width: 29%;
}
@media (max-width: 43.75em) {
  .col-3 {
    width: 100%;
    margin: 0;
  }
}

.col-5 {
  width: 30%;
}
@media (max-width: 34.375em) {
  .col-5 {
    width: 60%;
    margin: 0;
  }
}

.details {
  text-align: left;
}
.details h3 {
  font-size: 2rem;
  text-align: left;
}

@media (max-width: 43.75em) {
  .details-img--ball {
    height: 200px;
    width: auto;
    margin: 0 auto;
  }
}

.hello{
  padding: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
	padding-top: 25px;
	font-size: 20px;
	margin: auto;
	margin-top: 15px;

}

.features {
  text-align: center;
  padding: 1rem;
}
.features:hover {
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 43.75em) {
  .features {
    width: 100%;
    margin: 0;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .features:last-child {
    border: none;
  }
}
.features i {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}
@media (max-width: 43.75em) {
  .features i {
    font-size: 1.5rem;
    width: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
    float: left;
  }
}
.features p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}
@media (max-width: 43.75em) {
  .features p {
    margin-left: 3rem;
  }
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}
blockquote:before {
  display: inline-block;
  color: #007ece;
  font-size: 2rem;
  content: '\201C';
}
blockquote p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
}
@media (max-width: 43.75em) {
  blockquote p {
    font-size: 1.2rem;
  }
}
blockquote cite {
  font-size: 1rem;
  display: block;
  margin: .5rem 0 0 1.2rem;
  text-style: italic;
}
@media (max-width: 43.75em) {
  blockquote cite {
    font-size: .8rem;
  }
}
blockquote cite:before {
  content: '–';
}

footer {
  background: #2d2b2a;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.4);
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  display: block;
  padding: .4rem .7rem;
  font-size: .9rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer ul li a:hover {
  color: white;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.bg-image {
  background: #007ece;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.bg-image:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333 url("http://www.actionforbetterhealthcare.com/wp-content/uploads/2016/01/healthcare-industry-trends.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.bg-image.bg-image-2:before {
  opacity: .6;
  background-image: url("https://cdn.dribbble.com/users/4267/screenshots/1190583/gsc-pattern-dribbble_1x.png");
  background-position: center center;
}
