{% extends "base.html" %}
{% block headblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">


{% endblock %}


{% block fullscreen %}
    <header class="bg-image">

      <Center>
      <h3>Welcome to Care and Cure Clinical Trial!</h3>
      </Center>
      <h2>The future of healthcare...</h2>
      <div class="container">
      <h4>It is believed that technology and development have reached heights but even today, there are a few sectors like our Health Care sector where patients often have to wait for a long duration before getting treatment. This wait is sometimes too long for a patient to survive...</h4>
    </div>
    <br>
    <br>
      <h2>Login or Sign-up for free to get started!</h2>
      </header>
      <div class="load">
      <i class="fa fa-heartbeat fa-3x"></i>
      </div>


    <!-- <a href="#" class="btn btn-transparent">Order yours now!</a> -->

    <section class="">
    <div class="container">
    <!-- <div class="col-3 text--center">
    <img src="http://store.storeimages.cdn-apple.com/4044/as-images.apple.com/is/image/AppleInc/aos/published/images/H/D1/HD162/HD162?wid=800&hei=800&fmt=jpeg&qlt=95&op_sharpen=0&resMode=bicub&op_usm=0.5,0.5,0,0&iccEmbed=0&layer=comp&.v=1400749861094" alt="" class="details-img--ball"/>
    </div> -->
    <div class="col-7 details">
    </div>
    </div>
    </section>





<section class="section--primary--alt">
  <div class="container">
    <br>
    <br>
    <br>
    <h3>This clinical trial intervention aims to provide a feasible solution to the existing problems in the Health Care sector. The objective is to provide a hassle-free and user-friendly application which would help both doctors as well as patients to save time and resources.</h3>
    <br>
    <br>
    <br>


    </div>
</section>


<section class="section--primary--light">
  <div class="container">
    <blockquote class="testimonial">
      <p>Effective use of technology is important to deliver healthcare. By leveraging technology, you can bring down lack of access and cost of healthcare.</p>
      <cite>
        N.R. Narayana Murthy
      </cite>
    </blockquote>
  </div>
</section>

<section class="section--primary--alt bg-image bg-image-2">
  <div class="container text--center">
    <br>
    <br>
    <br>

    <h4>
    There are several parameters such as blood pressure, body temperature, BMI, pulse rate and respiratory rate which are easy to measure and can be really helpful in the detection of the level of severity for medical conditions such as Flu, Typhoid and road accidents. Although the parameters are well known and easy to measure, several people lack the knowledge and resources required for diagnosis.
  </h4>
    <h5>
        Instructions for use:
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </h5>
    <br><br><br>
  </div>
</section>

<section class="text--center">
  <div class="container">
    <h3>Wanna get in touch?</h3>
    <h4>Mail us all your queries at abc@gmail.com</h4>
  </div>
</section>








{% endblock %}
