{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
  <!-- <link rel="stylesheet" href="{% static 'simplesocial/css/instr.css' %}"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'simplesocial/css/image.css' %}">

{% endblock %}

{% block fullscreen %}

<header class="bg-image">

  <Center>
  <h1>INSTRUCTIONS</h1>
  </Center>
  <div class="container">
</div>
<br>
<br>

<div class='container'>
  <div align='left'>
  <h2><strong>TEMPERATURE</strong></h2>
<h4>A person's body temperature can be taken in any of the following ways:
  <br>
  <ul>


<li>Orally: Temperature can be taken by mouth using either the classic glass thermometer, or the more modern digital thermometers that use an electronic probe to measure body temperature.
</li>
<li>Axillary: Temperatures can be taken under the arm using a glass or digital thermometer.
</li>
<li>By ear: A special thermometer can quickly measure the temperature of the ear drum, which reflects the body's core temperature (the temperature of the internal organs).
</li>
</ul>
</h4>
<br>
<br>
<img src="{% static "simplesocial/images/temperature_1.jpg" %}"  class = "step"alt="Uh Oh, didn't show!">
<h2><strong>PULSE RATE</strong></h2>
<h4>
The pulse rate is a measurement of the heart rate, or the number of times the heart beats per minute.It may fluctuate and increase with exercise, illness, injury, and emotions. Females ages 12 and older, in general, tend to have faster heart rates than do males. Athletes, such as runners, who do a lot of cardiovascular conditioning, may have heart rates near 40 beats per minute and experience no problems.
As the heart forces blood through the arteries, you feel the beats by firmly pressing on the arteries, which are located on the side of the neck, on the inside of the elbow, or at the wrist. For most people, it is easiest to take the pulse at the wrist. If you use the lower neck, be sure not to press too hard, and never press on the pulses on both sides of the lower neck at the same time to prevent blocking blood flow to the brain. When taking your pulse:
<br>
<ul>

<li>Using the first and second fingertips, press firmly but gently on the arteries until you feel a pulse.</li>
<li>Begin counting the pulse when the clock's second hand is on the 12.</li>
<li>Count your pulse for 60 seconds (or for 15 seconds and then multiply by four to calculate beats per minute).</li>
<li>When counting, do not watch the clock continuously, but concentrate on the beats of the pulse.</li>
</ul>
</h4>
<br><br>
<img src="{% static "simplesocial/images/pulse_1.jpg" %}" class = "step" alt="Uh Oh, didn't show!">
<h2><strong>RESPIRATORY RATE</strong></h2>
<h4>
The respiration rate is the number of breaths a person takes per minute. The rate is usually measured when a person is at rest and simply involves counting the number of breaths for one minute by counting how many times the chest rises. When checking respiration, it is important to also note whether a person has any difficulty breathing.
</h4>
<br><br>

<img src="{% static "simplesocial/images/respiration_1.jpg" %}" class = "step" alt="Uh Oh, didn't show!">
<h2><strong>BLOOD PRESSURE</strong></h2>
<h4>
Blood pressure is most often measured with a device known as a sphygmomanometer, which consists of a stethoscope, arm cuff, dial, pump, and valve.
You can get your blood pressure measured by a health care provider, at a pharmacy, or you may have a digital sphygomanometer at home. Home blood pressure readings can be especially helpful in diagnosing and monitoring hypertension because they represent what is happening in the real world (rather than just at the doctor’s office).Blood pressure is recorded as two numbers: the systolic and diastolic pressures.
A blood pressure reading appears as two numbers:
<br>
<ul>
  <li>The first and higher of the two is a measure of systolic pressure, or the pressure in the arteries when the heart beats and fills them with blood.</li>
  <li>The second number measures diastolic pressure, or the pressure in the arteries when the heart rests between beats.</li>
</ul>
</h4>
<br><br>
<img src="{% static "simplesocial/images/bp.png" %}" class = "step" alt="Uh Oh, didn't show!">
</div>
</div>
  </header>

{% endblock %}
