{% extends "base.html" %}
{% load staticfiles %}
{% block headblock %}
  <!-- <link rel="stylesheet" href="{% static 'simplesocial/css/insr.css' %}"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

{% endblock %}
{% block fullscreen %}

<header class="bg-image">

  <Center>
<h1>First. Best. Always.</h1>
<br>

  <img src="http://hirportal.sikerado.hu/images/kep/201105/korszeru_mutetek2.jpg" alt="">


<br><br><br>
<h1>Thanks for visiting!</h1>
  </Center>

  <div class="container">

</div>
<br>
<br>

  </header>

{% endblock %}
